# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Xcode build / derived
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods (if ever added)
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Editor / IDE
.idea/
.vscode/
*.swp
